html {
    background: url(syd-sujuaan-1113331-unsplash.jpg); 
    height: 100vh;
    background-position: center;
    background-size: cover; /*re-size image based on window*/
    text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
}

.clock {
    margin: auto;
    border: 20px solid white;
    border-radius: 50%;
    width: 27vw;
    height: 27vw;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
}

.hand {
    position: absolute;
    background-color: black; 
    height: 5px;
    width: 50%;
    top: 50%;  /* we need a position property in order to use this */
    transform: rotate(90deg) ;
    transform-origin: center right;
    transition:all 0.1s; 
    transition-timing-function: cubic-bezier(0.1, 2.7, .58, 1);
}

.hand-hour {
}



.hand-second {
    height: 4px;
}